* {
    margin: 0;
    padding: 0;
    font-family: "altivo", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f0f0f0;
}

header {
    background: linear-gradient(to right, #8F269D, #0f53bf);
}

img {
    width: 100%;
}

/* NAVBAR */
.navbar {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    /*background: linear-gradient(to right, #8F269D, #0f53bf);*/
}

.navbarLinks {
    display: flex;
    flex-direction: row;
    /*gap: 40px;*/
    font-size: 1.125em;
    list-style: none;
    text-decoration: none;
    color: #fff;
    /*height: 100%;*/
}

.navbarLinks li a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-style: normal;
    position: relative;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    transition: background 0.3s ease;
}

.navbarLinks li a:hover {
    background: rgba(0, 0, 0, 0.2); /* dark overlay on hover */
    font-weight: 500; /* makes it bold like your screenshot */
}

.navbarLinks li a.active {
    /*background: rgba(0, 0, 0, 0.2); /* dark overlay on hover */
    font-weight: 500; /* makes it bold like your screenshot */
}

/*.navbarLinks li {
    min-height: 100px;
}*/

.logo {
    padding: 0px 0px 0px 30px;
    font-weight: 300;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a span {
    font-weight: 500;
    letter-spacing: 1px;
}

.hamburger {
    display: none;
    cursor: pointer;
    padding-right: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

@media (max-width: 768px){
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbarLinks {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background: linear-gradient(to right, #8F269D, #0f53bf);
        width: 100%;
        text-align: center;
        transition: 0.3s ease;
    }

    .navbarLinks li a {
        padding: 20px;
    }

    .navbarLinks.active {
        left: 0;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .about-image img {
        margin: 0 auto 20px;        /* top, right/left, bottom */
    }
}

/* ABOUT SECTION */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.about-container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  background: #f9f9f9;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 40px;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  /*box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);*/
}

.about-text {
  flex: 1;          /* allowed to grow and take up any leftover space in container */
}

.about-text h2 {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-text p {
  margin-bottom: 16px;
  line-height: 1.6;
}

.about-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.about-btn {
    border: 0;
    outline: 0;
    background: linear-gradient(to right, #1a1a1a, #1a1a1a); /* solid, but still a gradient. prevents weird button flash */
    color: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    scale: 1.1;
    transition: all 0.3s ease;
}

.about-btn:hover {
    transform: scale(1.08);
    background: linear-gradient(to right, #8F269D, #0f53bf);
    cursor: pointer;
}


